<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/location.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <title> Finca La Primavera </title>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <h1>Finca La Primavera </h1> 
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="../../index.html" class="nav-item-link cf_0">Inicio</a></li>
            <li class="nav-item"><a href="quienes.html" class="nav-item-link cf_1">Quienes Somos</a></li>
            <li class="nav-item"><a href="tarifas.html" class="nav-item-link cf_2">Tarifas</a></li>
            <li class="nav-item"><a href="location.html" class="nav-item-link cf_3">Ubicación</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-item-link cf_4">Contactenos</a></li>
        </ul>
     </div>
</nav>
<div class="main-section">
    <aside id="nearby-sites">
        <div class="sites-title">
            <h3>Sitios Cercanos</h3>
        </div>
        <div class="sites-items">
            <p>Sitio 1</p>
            <p>Sitio 2</p>
            <p>Sitio 3</p>
        </div>
    </aside>
    <section id="location">
        <div class="location-location">
            <div class="location-location-title">
                <h2>Ubicación</h2>
            </div>
            <div class="location-location-gps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15908.325703737088!2d-74.18271155000001!3d4.5793986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1623031674358!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </section>
    <div class="location-reservation">
        <div class="location-reservation-title">
            <h3>¿Deseas realizar alguna reservacion?</h3>
        </div>
        <div class="location-reservation-btn">
            <button id="btn_location-reservation"><a href="tarifas.html">Reservar</a></button>
        </div>
    </div>
</div>
<footer>
    <section id="social-media">
        <div class="items-social-media">
            <div class="social-media-title">
                <h3>Redes Sociales</h3>
            </div>
            <div class="social-media-list">
                <a href="">Facebook</a><br>
                <a href="">Twitter</a><br>
                <a href="">Instagram</a>
            </div>
        </div>
    </section>
    <section class="f-contact">
        <div class="f-contact-title">
            <h3>Contactenos</h3>
        </div>
        <div class="f-contact-text">
            <p> Telefono:</p>
            <p> Telefono Movil:</p>
            <p> Correo Electronico:</p>
        </div>
    </section>
    <div class="f-end">
        <p>Todos los derechos reservados 2021</p>
        <p>Finca la Primavera</p>
    </div>
</footer>
</body>
</html>