<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Description web page" >
    <meta name="title" content="Finca la Primavera">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet"> 
    <link rel="icon" href="resources/img/palm-tree_38556.ico" type="image/x-icon">
    <title> Finca La Primavera </title>
</head>
<body>
    <header>
        <section class="ttl-container">
            <h1>Finca La Primavera</h1> 
        </section>
    </header>
    <nav>
        <section class="nav-container">
            <ul class="list-items">
                <li class="nav-item"><a href="../../index.html">Inicio</a></li>
                <li class="nav-item"><a href="/resources/views/nosotros.html">Nosotros</a></li>
                <li class="nav-item"><a href="#">Tarifas</a></li>
                <li class="nav-item"><a href="#">Ubicación</a></li>
                <li class="nav-item"><a href="#">Contactenos</a></li>
            </ul>
        </section>
    </nav>
    
</body>
</html>