<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Description web page" >
    <meta name="title" content="Finca la Primavera">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet"> 
    <link rel="icon" href="../img/palm-tree_38556.ico" type="image/x-icon">
    <title> Finca La Primavera </title>
</head>
<body>
    <header>
        <section class="ttl-container">
            <h1>Finca La Primavera</h1> 
        </section>
    </header>
    <nav>
        <section class="nav-container">
            <ul class="list-items">
                <li class="nav-item"><a href="../../index.html">Inicio</a></li>
                <li class="nav-item"><a href="/resources/views/nosotros.html">Nosotros</a></li>
                <li class="nav-item"><a href="/resources/views/tarifas.html">Tarifas</a></li>
                <li class="nav-item"><a href="#">Ubicación</a></li>
                <li class="nav-item"><a href="#">Contactenos</a></li>
            </ul>
        </section>
    </nav>
    <main>
        <section class="container-misionVision">
            <article class="mision">
                <div class="container-item-mision">
                    <div class="ttl-item">
                        <h2>Misión</h2>
                    </div>
                    <div class="txt-item">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nam quia autem dolor,
                            nisi, praesentium repudiandae voluptas neque fugit id sapiente similique a earum ducimus 
                            nemo maxime repellendus ea sunt!
                        </p>
                    </div>
                </div>
            </article>
            <article class="vision">
                <div class="container-item-vision">
                    <div class="ttl-item">
                        <h2>Visión</h2>
                    </div>
                    <div class="txt-item">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur porro nostrum dolorem
                            ad autem necessitatibus voluptatem exercitationem, quasi dicta quod ducimus doloremque velit. 
                            Maiores, officia nemo placeat repellendus minima dolor!
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="container-history">
            <article class="item-history">
                <div class="container-item-history">
                    <div class="ttl-history">
                        <h2>Historia</h2>
                    </div>
                    <div class="txt-history">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati pariatur, 
                        doloribus laboriosam voluptatum dolore possimus, beatae quaerat aliquam impedit odit rem aperiam 
                        vitae ipsa earum assumenda repudiandae nesciunt? Libero, commodi. Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Sequi fugit facilis nulla, saepe atque quas obcaecati vitae. Nam distinctio voluptatum 
                        perspiciatis atque at sapiente nobis deleniti fugit. Quod, natus explicabo. Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Dignissimos porro impedit adipisci expedita quasi eaque magni! Quaerat nobis 
                        quasi rem similique provident voluptatum voluptatem labore recusandae beatae. Dolorem, recusandae quibusdam.
                        </p>
                    </div>
                </div>
            </article>
            <article class="item-history img-history">
                <div class="container-img-history">
                    <img src="../img/home1.jpg" alt="">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="container-items">
            <article class="item-footer social-media">
                <div class="contain-item-footer">
                    <div class="ttl-item-footer">
                        <h3>Redes Sociales</h3>
                    </div>
                    <div class="list-item-footer">
                        <a href="#">Facebook</a><br>
                        <a href="#">Twitter</a><br>
                        <a href="#">Instagram</a>
                    </div>
                </div>
            </article>
            <article class="item-footer location">
                <div class="contain-item-footer">
                    <div class="ttl-item-footer">
                        <h3>¿Donde nos ubicamos?</h3>
                    </div>
                    <div class="location-gps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15908.325703737088!2d-74.18271155000001!3d4.5793986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1622059198589!5m2!1ses!2sco" 
                           width="400" height="150" style="border:1px solid #fff;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                </div>
            </article>
            <article class="item-footer info-contact">
                <div class="contain-item-footer">
                    <div class="ttl-item-footer">
                        <h3>Contactenos</h3>
                    </div>
                    <div class="txt-item-footer">
                        <p>Telefono: 7-76-7979</p>
                        <p>Telefono Movil: 310-601-6263</p>
                        <p>Correo Electronico: ejemplo@ejemplo.com</p>
                    </div>
                </div>
            </article>
            <div class="item-footer end">
                <p> &#169 Todos los derechos reservados.</p>
                <p> &#127796 Finca la Primavera &#127796 </p>
            </div>
        </section>
    </footer>
</body>
</html>