/*Code CSS structured as follows 

1. Position
2. Visibility
3. Box Model
4. Typography
5. Structures Visual
6. Varied (Animations, etc...) */


/*----------- HEADER -----------*/

header{
    position: relative;

    height: 20vh;

    font-family: var(--font-pattaya);
}

.ttl-container{
    position: inherit;

    display: flex;
    flex-flow: row wrap;

    height: inherit;

    font-size: 2rem;

    background-image: url(/resources/img/palmeras.jpg);
    
}

.ttl-container h1{
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex: 1 1 100%;

    margin: 1.5rem 0 0 0;

    text-align: center;
    
    color: var(--color-white);
    text-shadow: 1px 1px 1px var(--color-black),
        1.5px 1.5px .5px var(--color-white),
        2px 2px 1px var(--color-black);

    transition: color .5s ease-in,
        text-shadow .5s ease-in;
}

.ttl-container h1:hover{
    color: var(--color-black);
    text-shadow: 1px 1px 1px var(--color-white),
        1.5px 1.5px .5px var(--color-black),
        2px 2px 1px var(--color-white);
}


/*---------------------NAVBAR-------------------------*/

nav{
    position: sticky;
    top: 0;
    z-index: 10;

    height: 6vh;
    margin-top: 1px;
}

.nav-container{
    height: inherit;
}

.list-items{
    display: flex;
    flex-flow: row wrap;

    height: inherit;
}

.nav-item{
    flex: 0 1 20%;

    list-style: none;
    background-color: var(--bg-color-gray);
}

.nav-item a{
    display: flex;
    justify-content: center;

    padding-top: 6.2px;
    
    font-family: var(--font-koho);
    font-size: 1.2rem;

    text-decoration: none;
    color: var(--color-white);
    text-shadow: 1px .5px 1px var(--color-black);
    transition: .55s ease-in-out;
}

.nav-item a:hover{
    color: var(--color-border);
    text-shadow: 1px .5px 1px var(--color-white)
}


/*--------------------------MAIN SECTION------------------------------*/

/*-----MISION/VISION-------*/

.container-misionVision{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    
    height: 60vh;
    width: 100%;

    background-image: linear-gradient(90deg, var(--color-white) 0% 25%,
    var(--color-border) 100%);
}

.mision,
.vision{
    position: inherit;

    height: inherit;
    width: 50%;

    padding: 4rem;
}

.container-item-mision,
.container-item-vision{
    height: 35vh;

    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--color-black);
}

.ttl-item{
    margin: 2rem;
}

.ttl-item h2{
    position: relative;
    top: 1rem;
    display: inline;

    font-family: var(--font-bebasNeue);
    font-size: 2.2rem;
}

.txt-item{
    margin: 2rem;

    font-family: var(--font-koho);
    font-size: 1.2rem;

    text-align: justify;
}

.vision>div>h2{
    color: var(--color-white);
}

.vision>div>div>h2,
.vision>div>div>p{
    text-shadow: 1px 1px 3px var(--color-black);

    color: var(--color-white);
}

/*-------HISTORIA---------*/

.container-history{
    height: 80vh;
    width: 100%;

    display: flex;
    flex-flow: row-reverse wrap;
    
    background-image: linear-gradient(90deg, var(--color-white) 0% 25%,
    var(--color-border) 100%);
}

.item-history{
    height: inherit;
    width: 50%;
}

.container-item-history{
    height: 65vh;
    width: 90%;

    margin: 1rem 0 0 2rem;
    padding: 2rem 3rem 0 3rem;

    box-shadow: 1px 1px 5px var(--color-black);
    border-radius: 5px;
    color: var(--color-white);
    text-shadow: 1px 1px 3px var(--color-black);
}

.ttl-history{
    font-family: var(--font-bebasNeue);
    font-size: 2.2rem;

    text-align: center;
}

.txt-history{
    padding-top: 2px;

    font-family: var(--font-koho);
    font-size: 1.2rem;

    text-align: justify;
}

.img-history>div>img{
    height: 55vh;
    width: 80%;

    margin: 4rem 0 0 5rem;
    object-fit: cover;

    box-shadow: 1px 1px 5px var(--color-black);
    border-radius: 5px;
}


/*------------------------FOOTER--------------------------------*/

footer{
    position: relative;

    height: 37vh;
    width: 100%;

    background-image: linear-gradient(90deg, var(--color-white) 0% 25%,
    var(--color-border) 100%);
}

.container-items{
    display: flex;
    flex-flow: row wrap;

    height: inherit;
    width: inherit;
}

.item-footer{
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 30%;
}

.ttl-item-footer h3{
    margin-top: .5rem;

    font-family: var(--font-bebasNeue);
    font-size: 1.5rem;

    text-align: center;
    text-shadow: 2px 2px 3px var(--color-white)
}

.list-item-footer{
    margin-left: 1rem;
    padding: 1rem 0 1rem 2.5rem;


    background-color: var(--color-border);
    box-shadow: 2px 1px 10px var(--color-black);
    border-radius: 5px;
}

.list-item-footer a{
    font-family: var(--font-koho);
    font-size: 1.25rem;

    text-decoration: none;
    color: var(--color-white);
}

.location-gps iframe{
    margin: 2px 0 2px 1.75rem;
}

.txt-item-footer{
    margin-right: 1rem;
    padding: 1rem 0 1rem 2rem;

    border: 1px solid var(--color-white);

    font-family: var(--font-koho);
    font-size: 1.15rem;

    background-color: var(--color-white);
    box-shadow: 2px 1px 10px var(--color-black);
    border-radius: 5px;
}

.end p{
    font-family: var(--font-koho);
    font-size: 1rem;

    text-align: center;
    color: var(--color-white);
    text-shadow: .5px .5px .5px var(--color-black);
}