/*--------------- HEADER -----------------*/

header {
    background-image: url("../img/palmeras.jpg");
    height: 190px;
    width: 100%;
    object-fit: cover;
    font-family: Pattaya , sans-serif;
    font-size: 30px;
    transition: .45s;
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

header h1 {
    position: absolute;
    margin-top: 55px;
    color: #ffffff;
    text-align: center;
    transition: .45s;
    width: 100%;
    text-shadow: 0 10px 7px #000 , 0 11px 1px #000 , 1px 13px 1px #ffffff;
}

header:hover {
    background-image: url("../img/back_pis.jpg");
    object-fit: cover;
    height: 190px;
    transition: .45s;
}

header h1:hover {
    color: #000;
    transition: .45s;
    text-shadow: 0 5px 7px #fff , 0 7px 1px #fff , 0 8.5px 1px #000;
}


/*----------- NAV ------------------ */

nav div {
    background: linear-gradient(to right, #fff, transparent, rgb(145, 114, 255),rgb(145, 118, 255) , rgb(87, 69, 255), rgb(70 , 77, 255));
    height: 35px;
    font-size: 22px;
    margin-top: 5px;
    font-family: Koho, sans-serif;
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.nav-item {
    text-align: center;
    margin-left: 3.2px;
    padding: 5px 3px;
    width: 260px;
    display: inline-block;
}

.nav-item-link {
    color: #000;
    text-decoration: none;
}

.cf_0 {
    color: #000;
    text-shadow: 2px 0 1px #fff;
}

.cf_1 {
    color: #000;
    text-shadow: 2px 0 1px #fff;
}

.cf_2 {
    color: #fff;
    text-shadow: 2px 0 1px #000;
}

.cf_3 {
    color: #fff;
    text-shadow: 2px 0 1px #000;
}

.cf_4 {
    color: #fff;
    text-shadow: 2px 0 1px #000;
}


/*----------------- FOOTER ---------------*/

.foot {
    
    width: 99.99%;
    height: 330px;
    background-color: rgb(241, 239, 239);
}

.social-media {
    width: 250px;
    height: 115px;
    position: absolute;
    margin: 8px 0 0 10px;
}

.items-social-media {
    margin: 8px;
}

.social-media-title {
    font-family: Koho, sans-serif;
    font-size: 18px;
    margin: 0 0 0 2px;
}

.social-media-list {
    margin: 7px 0 0 2px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.social-media-list a {
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 1px 2px #000, 1px -1px 2px #000;
}


.f-location {
    width: 512px;
    position: absolute;
    margin: 8px 0 0 420px;
}

.f-location-title {
    font-family: Koho, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.f-location-gps {
    border: 2px solid #fff;
    padding: 5px;
}

.f-contact {
    height: 115px;
    width: 270px;
    position: absolute;
    margin: 8px 0 0 1050px;
}

.f-contact-title {
    margin: 10px 0 0 0;
    font-family: Koho, sans-serif;
    font-size: 18px;
}

.f-contact-text {
    font-family: 'Bebas Neue', cursive;
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #fff;
    text-shadow: -1px 1px 5px #000, 1px -1px 2px #000;
}

.f-end {
    position: absolute;
    margin: 280px 0 0 560PX;
    text-align: center;
    font-family: Koho, sans-serif;
}

.f-end p {
    margin-top: 3px;
}







/*--------------------- RESPONSIVE DESING ----------------*/

@media only screen and (max-width:1335px) {

    nav div {
        height: 190px;
    }


    .nav-item {
        width: 100%;
        display: block;
        margin-top: 2px;
        border: .5px solid #fff;
        
    }
    
    .cf_0 {
        color: #fff;
        text-shadow: 2px 0 1px #000;
    }
    
    .cf_1 {
        color: #fff;
        text-shadow: 2px 0 1px #000;
    }



}









