/*--------------- HEADER -----------------*/
img{
    max-width: 100%;
}

/*--------------- HEADER -----------------*/

header{
    height: 10rem;
    width: 100%;
    position: relative;
}

.ttl-header{
    color: var(--color-txt1);
    background-image: url(/resources/img/palmeras.jpg);
    background-size:cover;
    width: inherit;
    height: inherit;
}

.ttl-header h1{
    margin: 0;
    padding: 2.7rem;
    text-align: center;
    font-size: 4em;
    font-family: var(--font-pattaya);
}


.ttl-header:hover{
    color: var(--color-txt2);
    background-image: url(/resources/img/back_pis.jpg);
}

/*-------------------NAV-----------------------*/

nav{
    height: 2.40rem;
    width: 100%;
    position: sticky;
    top: 0;
    margin-top: 0.20rem;
    z-index: 10;
}

.list-items{
    background-color: var(--bg-color-gray1);
    text-align: center;
    height: inherit;
    word-spacing: 12rem;
}

.nav-item{
    display: inline-block;
    padding-top: 0.40rem;
}

.nav-item-link{
    font-family: var(--font-koho);
    font-size: 1.20rem;
    text-decoration: none;
    color: var(--color-txt2);
}



/*------------------------ RATES ---------------------*/


.rates{
    height: 35rem;
    width: 100%;
    margin-top: .2rem;
    position: relative;
}

.items-rate{
    width: inherit;
    height: inherit;
}

.rates-ttl{
    margin: .5rem 0 .5rem 0;
}

.rates-ttl h2{
    text-align: center;
    font-family: var(--font-pattaya);
    font-size: 3.9rem;
}

.list-items-rates{
    position: relative;
    height: 29.5rem;
    background-color: var(--bg-color-gray1);
}

.svc-one,
.svc-two,
.svc-three{
    position: absolute;
    border: 1px solid var(--color-border2);
    outline: 1px solid var(--color-border2);
    outline-offset: .5rem;
    border-radius: 1rem;
    background-color: var(--bg-color-white1);
    display: inline-block;
    height: 25rem;
    width: 25%;
    margin-top: 2.35rem;
}

.svc-one{
    margin-left: 5rem;
}

.svc-two{
margin-left: 31.50rem;
}

.svc-three{
    margin-left: 58rem;
}

.svc-one-ttl,
.svc-two-ttl,
.svc-three-ttl{
    margin: 1.8rem .5rem 0 .5rem;
}

.svc-one-ttl h3,
.svc-two-ttl h3,
.svc-three-ttl h3{
    font-family: var(--font-pattaya);
    font-size: 2.8rem;
    text-align: center;
}


#svc-one-list,
#svc-two-list,
#svc-three-list{
    margin-top: 1.5rem;
    height: auto;
}

#svc-one-list li,
#svc-two-list li,
#svc-three-list li{
    color: var(--color-txt1);
    text-shadow: 1px 1px var(--color-txt2);
    list-style: none;
    font-family: var(--font-bebasNeue);
    font-size: 1.5rem;
    margin: .1rem .5rem 0 .5rem;
    text-align: center;
    letter-spacing: 1.25px;
    border-radius: 1.5rem;
    background: linear-gradient(161deg, var(--bg-color-white1) 0% 25.5%, var(--color-border2) 25.5% 45.5%, var(--bg-color-gray1) 25.5%);
}


.form{
    height: auto;
    width: 100%;
    margin-top: .2rem;
    position: relative;
}

.frm-reservation{
    height: inherit;
    width: inherit;
}

.date-avalible{
    display: inline-block;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(90deg, var(--bg-color-white1) 0% 50%, var(--color-border2) 95%);
}

.date-avalible label{
    display: inline-block;
    position: relative;
    height: auto;
    width: 12rem;
    padding: .5rem;
    top: 2rem;
    left: 2rem;
    font-family: var(--font-bebasNeue);
    text-align: center;
    font-size: 1.3rem;
    border: 1px solid var(--color-border3);
    border-radius: .8rem;
    background: linear-gradient(180deg, var(--bg-color-white1) 10% 35.5%, var(--bg-color-gray1) 95.5%);
}

#date-reservation-available{
    position: relative;
    top: 2rem;
    left: 5rem;
    height: 3rem;
    width: 12rem;
    font-family: var(--font-bebasNeue);
    text-align: center;
}

.date-avalible input{
    padding-left: 1rem;
    border: 1px solid var(--color-border2);
    border-radius: 2rem;
}

.date-avalible h2{
    position: relative;
    display: inline-block;
    font-family: var(--font-pattaya);
    font-size: 3rem;
    top: 2.8rem;
    left: 22.5rem;
}

.date-avalible h2:hover{
    color: var(--color-txt1);
}


    /*--------FORM---------*/

    form fieldset{
        padding: .50rem 3rem .50rem ;
    }

    form fieldset legend{
        text-align: center;
        font-size: 2.5rem;
        font-family: var(--font-bebasNeue);
    }

    label{
        display: inline-block;
        font-family: var(--font-bebasNeue);
        font-size: 1.2rem;
        margin: 0 0 3rem 5rem;

    }

    input,
    select{
        font-family: var(--font-koho);
    }

    input[type=text],
    input[type=number],
    input[type=telephone],
    input[type=email]{
        width: 13rem;
        text-align: center;
        border-radius: .5rem;
        border: 1px solid var(--color-border2);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    input[type=number] { -moz-appearance:textfield; }

        
    #date-reservation-ini,
    #date-reservation-end{
        padding-left: 1rem;
        border: 1px solid var(--color-border2);
        border-radius: 2rem;
        text-transform: uppercase;
    }

    select{
        position: relative;
        left: 1.5rem;
        text-align: center;
        background-color: var(--bg-color-white1);
        border: 1px solid var(--color-border2);
        border-radius: .5rem;
    }

    input[type=submit]{
        position: relative;
        top: 3.8em;
        padding: .5rem;
        border-radius: 2rem;
        background-color: var(--bg-color-white1);
        border: 1px solid var(--color-border2);
        margin-bottom: 5rem;
    }

    input[type=submit]:hover{
        background-color: var(--color-border2);
        color: var(--color-txt1);
        border: 1px solid var(--color-border3);
    }

/*------------------ FOOTER -------------------*/

footer{
    margin-top: 1.2rem;
    background-color: var(--bg-color-gray1);
    font-family: var(--font-koho);
    height: auto;
    width: 99.99%;
    position: relative;
}


.social-media,
.location-estate,
.info-contact{
    display: inline-block;
    position: relative;
}

.social-media{
    bottom: 5.5rem;
    margin: 0 6rem 0 2rem;
    padding: 5px 15px 5px 5px;
    border: 1px solid var(--color-border3);
    outline: 1px solid var(--color-border2);
    outline-offset: 5px;
    border-radius: 2px;
}

.social-media a{
    text-decoration: none;
    color: var(--color-txt1);
}

.location-estate{
    margin: .5rem 3.8rem .5rem 8.2rem;
    padding: 3px;
}

.location-ttl {
    text-align: center;
    margin: 0 0 .8rem 0;

}

.location-gps{
    border: 1px solid var(--color-border2);
    border-radius: 3px;
}

.info-contact{
    bottom: 5.5rem;
    margin: 0 0 0 2rem;
    border: 1px solid var(--color-border3);
    outline: 1px solid var(--color-border2);
    outline-offset: 5px;
    border-radius: 2px;
    padding: 5px 15px 5px 5px;
}

.end{
    background-color: var(--bg-color-white1);
    text-align: center;
}

/*--------------VARIABLES-------------------*/

:root{
    --color-txt1: #fff;
    --color-txt2: #000;
    --font-koho: 'Koho';
    --font-pattaya: 'Pattaya';
    --font-playfairDisplay: 'Playfair Display';
    --font-bebasNeue: 'Bebas Neue';
    --font-sourceSansPro: 'Source Sans Pro';
    --color-border1: #fff;
    --bg-color-gray1: #e8e8e8;
    --color-border2: #894dff;
    --bg-color-white1: #fff;
    --color-border3: #000;
}